@charset "utf-8";

.logodiv > a{
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
    padding: 10px;

    
}
.logo{
    padding: 10px;
}

header{
    background-color: rgba(0, 0, 0, 0.938);
    text-align: left;
    color: white;
    height: 350px;
    
}
header p{
  font-size: 1.7em;
  width: 70%;

}
header h2{
    font-size: 1.3em;
}
.canva{
    display: block;
    text-align: right;
    
}